.calculator-container div[class^="button"] {
  padding: 10px;
}

.calculator-container button {
  width: 100%;
  color: #eee;
  font-weight: bold;
  background-color: #789391;
  border-width: 0;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px 0 #38363b;
}

.calculator-container button:hover {
  background-color: #666878;
}

.calculator-container button:active {
  background-color: #c9985f;
  transform: translateY(3px);
  box-shadow: 0 2px 0 #38363b;
}
