html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.calculator-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

.input-field-container {
  grid-column: 1/5;
}

.button-7-container {
  grid-column: 1;
  grid-row: 3;
}

.button-8-container {
  grid-column: 2;
  grid-row: 3;
}

.button-9-container {
  grid-column: 3;
  grid-row: 3;
}

.button-4-container {
  grid-column: 1;
  grid-row: 4;
}

.button-5-container {
  grid-column: 2;
  grid-row: 4;
}

.button-6-container {
  grid-column: 3;
  grid-row: 4;
}

.button-1-container {
  grid-column: 1;
  grid-row: 5;
}

.button-2-container {
  grid-column: 2;
  grid-row: 5;
}

.button-3-container {
  grid-column: 3;
  grid-row: 5;
}

.button-0-container {
  grid-column: 1;
  grid-row: 6;
}

.button-dot-container {
  grid-column: 2;
  grid-row: 6;
}

.button-equal-container {
  grid-column: 3;
  grid-row: 6;
}

.button-clean-container {
  grid-column: 1;
  grid-row: 2;
}

.button-radix-container {
  grid-column: 2;
  grid-row: 2;
}

.button-percent-container {
  grid-column: 3;
  grid-row: 2;
}

.button-division-container {
  grid-column: 4;
  grid-row: 2;
}

.button-star-container {
  grid-column: 4;
  grid-row: 3;
}

.button-minus-container {
  grid-column: 4;
  grid-row: 4;
}

.button-plus-container {
  grid-column: 4;
  grid-row: 5/7;
}
